- admin_menu.set('Posts')

!= messages()

#rightnow
  h3.reallynow 
    span Posts
    a(href='/admin/posts/new', class='add') Add New Post
    br
  table
    thead
      th= 'Title'
      th(width='80px')= 'Created At'
      th(width='60px')= 'Action'
    tbody
      - each post in posts
        tr
          td= post.title
          td= helper.formatDate(post.createdAt)
          td
            a(href='/admin/posts/' + post.id)
              img(src='/images/admin/icons/user.png', alt='show')
            a(href='/admin/posts/' + post.id + '/edit')
              img(src='/images/admin/icons/user_edit.png', alt='edit')
